{% extends 'templates/base.html' %}

{% block content %}
<article>
	<h1>{{ title }}</h1>
	{{ content | safe }}

	<hr>
	<h2>Skateboard Ad</h2>
	{{ skateboards.daily.price | safe }}<br>
	{{ skateboards.daily.note | safe }}<br>
	{{ skateboards.daily.link | safe }}
	<hr>
	<h2>CL Ad</h2>
	{{ cl.item | safe }}
	<!-- <img src="images/{{skateboards.img}}" alt=""> -->
</article>

{% set ctaOverride = ctaPrimary %}
{% include 'components/cta.html' %}

<hr>
<h3>featured skateboards</h3>
{% include 'components/featured-skateboards.html' %}
<hr>
<h3>skateboards</h3>
{% include 'components/skateboards.html' %}
<hr>

{% set ctaOverride = cta %}
{% include 'components/cta.html' %}
{% endblock %}